.icon_singleinfo{
	background:url('menuIcon/icon_singleinfo.png') no-repeat;
}
.icon_userSys{
	background:url('menuIcon/icon_userSys.png') no-repeat;
}
.icon_menu{
	background:url('menuIcon/icon_menu.png') no-repeat;
}
.icon_organ{
	background:url('menuIcon/icon_organ.png') no-repeat;
}
.icon_role{
	background:url('menuIcon/icon_role.png') no-repeat;
}
.icon_dataSafe{
	background:url('menuIcon/icon_dataSafe.png') no-repeat;
}
.icon_database{
	background:url('menuIcon/icon_database.png') no-repeat;
}
.icon_operationLog{
	background:url('menuIcon/icon_operationLog.png') no-repeat;
}